:root{
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
@font-face {
    font-family: Roboto4;
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto7;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background-color: var(--Dark-Slate-Grey);
}
#telaNormal{
    display: flex;
    width: 50rem;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--White);
    border-radius: 30px;
    padding: 1rem;
}
#telaNormal article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    font-family: Roboto4;
    color: var(--Charcoal-Grey);
}
.input{
    margin-top: 1rem;
}
h1{
    font-family: Roboto7;
    font-size: 48px;
}
.lista {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    align-items: center;
    gap: 0.8rem;
    margin-left: -0.5rem;
}
.lista img{
    grid-column: 1;
    height: 1.5rem;
}
.lista span{
    grid-column: 2;
}
#telaNormal input{
    width: 100%;
    height: 3.5rem;
    margin-top: 0.8rem;
    padding-left: 1rem;
    border: var(--Grey) solid 2px;
    border-radius: 10px;
}
#telaNormal input:target{
    background-color: var(--Dark-Slate-Grey);
}
#telaNormal input::placeholder{
    color: var(--Grey);
}
button{
    border: none;
    border-radius: 10px;
    height: 3.5rem;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    cursor: pointer;
    user-select: none;
}
button:hover{
    background-color: var(--Tomato);
    box-shadow: 0 0.8rem 1.2rem 0rem hsla(4, 100%, 67%, 0.7);
}
#telaSucesso{
    display: none;
    flex-direction: column;
    background-color: var(--White);
    width: 30rem;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4rem;
    border-radius: 30px;
    gap: 1.5rem;
    font-family: Roboto4;
    color: var(--Charcoal-Grey);
}
#telaSucesso img{
    width: 64px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }